{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <form method="post" action="{% url 'member_create' %}">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label for="name">Nome</label>
                            <div class="controls">
                                {{ form.name | add_class:'form-control' }}
                                {% for error in form.name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}