{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'member_create' %}">Adicionar</a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Membros
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Nome</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in object_list %}
                                <tr>
                                    <td>{{ member.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
{% endblock %}