{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <form method="post" action="{% url 'book_rent' %}">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Livros</label>
                            <div class="controls">
                                {{ form.books | add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Membros</label>
                            <div class="controls">
                                {{ form.members | add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Emprestar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}