<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Livros">
        <a class="nav-link" href="{% url 'book_list' %}">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Livros</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Membros">
        <a class="nav-link" href="{% url 'member_list' %}">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Membros</span>
        </a>
    </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
</ul>