{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Biblioteca</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-body">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <div ng-transclude>
                            <span class="ng-binding ng-scope">{{ error }}</span>
                        </div>
                    </div>
                {% endfor %}
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Email</label>
                        <div class="controls">
                            {{ form.username | add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        {{ form.password | add_class:'form-control' }}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>

</html>
